{ZL.Source id="节点栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
</head> 
<body>
<div class="home_nav hidden-xs" id="home_nav">
<div class="container">
<nav class="navbar navbar-default">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img src="{$LogoUrl/}" alt="{$SiteName/}"></a>
<a style="color:#333; display:inline-block; text-decoration:none; font-size:1.6em; font-family:'ZoomlaXingtiJ3'; margin-top:0.8em;" href="{ZL:GetNodeLinkUrl(3)/}">地图借伞</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right home_top_nav">
<li class="active"><a href="/">首页</a></li>
<li id="gid6"><a href="{ZL:GetInfoUrl(6)/}">关于氿度伞</a></li>
<li id="ni3"><a href="{ZL:GetNodeLinkUrl(6)/}">新闻动态</a></li>
<li id="ni4"><a href="{ZL:GetNodeLinkUrl(7)/}">活动&通知</a></li>
<li id="gid5"><a href="{ZL:GetInfoUrl(5)/}">联系我们</a></li>
<li class="hidden-xs"><a href="javascript:;" onClick="isSearch();"><i class="fa fa-search"></i></a></li>

<li class="dropdown">
<a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
Menu
<span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
<li role="presentation"><a role="menuitem" tabindex="-1" href="{ZL:GetNodeLinkUrl(4)/}">圈子</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="{ZL:GetNodeLinkUrl(3)/}">地图借伞</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="{ZL:GetNodeListUrl(3)/}">文字借伞列表</a></li>
</ul>
</li>

</ul>
<ul class="nav navbar-nav navbar-right home_search hidden-xs">
<form class="navbar-form navbar-left" role="search" action="/Search/SearchList" target="_blank">
<i class="fa fa-search"></i>
<input type="text" class="form-control" placeholder="输入关键字，回车查询" name="keyword" />
<a onClick="isClose();"><i class="fa fa-close" style="color:#ccc;"></i></a>
</form>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>
</div>
<!-- home_nav end! -->

<div class="quan_banner hidden-xs"></div>
{ZL.Label id="输出伞点文字列表_分页" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" TitleNum="30" ShowNum="10" /}
<!-- map_text end! -->


</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('home_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
    IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
        ".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
    var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
     if(s>H&&IO.fix||s<=H&&!IO.fix)return;
    if(!IE6)IO.style.position=IO.fix?"":"fixed";        
    IO.fix=!IO.fix;
    
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};



//手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


$(window).scroll(function(){
	if($(window).scrollTop()>0){
		$(".home_nav").addClass("active")
        $(".home_nav li a").css("color","#333");
        $(".home_nav .home_search form>i").css("color","#ccc");
        $(".home_search .fa fa-close").css("color","#ccc");
	}
	else{
		$(".home_nav").removeClass("active");
        $(".home_nav li a").css("color","#fff");
        $(".home_nav .home_search form>i").css("color","#fff");
        $(".home_search .fa fa-close").css("color","#fff");
	}
});

/*显示搜索框*/
function isSearch(){
    $(".home_search").css("opacity","1").css("z-index","1").css("right","0");
    $(".home_top_nav").fadeOut(200);
    $(".home_search .form-control").focus();
}
/*关闭搜索框*/
function isClose(){
    $(".home_search").css("opacity","0").css("z-index","-1").css("right","-1em");
    $(".home_top_nav").fadeIn(1000);
}
</script>